.searchBar {
  display: flex;
  width: 100%;
  margin-bottom: 12px;
}

.searchText {
  @include lum-typo-input;

  width: 100%;
  padding: 8px 0;
  padding-left: var(--lum-size-spacing-l);
  margin-right: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.searchIcon {
  position: absolute;
  margin-top: 8px;
  margin-left: 8px;
  font-size: 18px;
  color: #111;
  opacity: 0.66;
}
