$icomoon-font-family: "luminaIcons" !default;
$icomoon-font-path: "fonts" !default;

$lumina-pencil: unquote('"\\e900"');
$lumina-plus: unquote('"\\ea0a"');
$lumina-cross: unquote('"\\ea0f"');
$lumina-arrow-up: unquote('"\\ea32"');
$lumina-arrow-down: unquote('"\\ea36"');

