@import '../../../../../styles/scss-utils/mixins/typography';

.label-title {
  @include lum-typo-input; // typography

  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
  color: var(--lum-color-black);
}
