@import '@/styles/scss-utils/mixins/layout';

.hidden-mobile {
  @include breakpoint('mobile') {
    display: none !important;
  }
}

.hidden-tablet {
  @include breakpoint('tablet') {
    display: none !important;
  }
}

.hidden-desktop {
  @include breakpoint('desktop') {
    display: none !important;
  }
}

.hidden-desktop-max {
  @include breakpoint('desktop-max') {
    display: none !important;
  }
}

.lum-display-none {
  display: none !important;
}

/**
* Only display content to screen readers
* See: https://a11yproject.com/posts/how-to-hide-content/
*/

.screen-reader-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}