$icomoon-font-family: "LuminaIcon" !default;
$icomoon-font-path: "fonts" !default;

$lumina-add: unquote('"\\e900"');
$lumina-close-modal: unquote('"\\e901"');
$lumina-info: unquote('"\\e902"');
$lumina-history: unquote('"\\e903"');
$lumina-desktop: unquote('"\\e904"');
$lumina-mobile: unquote('"\\e905"');
$lumina-red: unquote('"\\e906"');
$lumina-yellow: unquote('"\\e907"');
$lumina-green: unquote('"\\e908"');
$lumina-menu: unquote('"\\e909"');
$lumina-filter: unquote('"\\e90a"');
$lumina-paste: unquote('"\\e90b"');
$lumina-cut: unquote('"\\e90c"');
$lumina-hidden: unquote('"\\e90d"');
$lumina-visible: unquote('"\\e90e"');
$lumina-user: unquote('"\\e90f"');
$lumina-close-up: unquote('"\\e910"');
$lumina-close: unquote('"\\e911"');
$lumina-open-down: unquote('"\\e912"');
$lumina-open: unquote('"\\e913"');
$lumina-help: unquote('"\\e914"');
$lumina-settings: unquote('"\\e915"');
$lumina-figma: unquote('"\\e916"');
$lumina-library: unquote('"\\e917"');
$lumina-custom: unquote('"\\e918"');
$lumina-button: unquote('"\\e919"');
$lumina-video: unquote('"\\e91a"');
$lumina-grid: unquote('"\\e91b"');
$lumina-link: unquote('"\\e91c"');
$lumina-title: unquote('"\\e91d"');
$lumina-picture: unquote('"\\e91e"');
$lumina-component: unquote('"\\e91f"');
$lumina-layers: unquote('"\\e920"');
$lumina-hand: unquote('"\\e921"');
$lumina-slide-down: unquote('"\\e922"');
$lumina-slide-up: unquote('"\\e923"');
$lumina-slide: unquote('"\\e924"');
$lumina-edit: unquote('"\\e925"');
$lumina-accept: unquote('"\\e926"');
$lumina-delete: unquote('"\\e927"');
$lumina-item-add: unquote('"\\e928"');
$lumina-clone: unquote('"\\e929"');
$lumina-page: unquote('"\\e92a"');
$lumina-search: unquote('"\\e92b"');
$lumina-folder: unquote('"\\e92c"');

