.button {
  box-sizing: border-box;
  border-radius: 5px;
  color: var(--lumina-color-text-inverted);
  font-weight: 600;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 22px;
  padding: 0;
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out;

  * {
    box-sizing: border-box;
  }

  &.round {
    border-radius: 100%;
    justify-content: center;
    &:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      padding-top: 100%;
    }
  }

  .buttonContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 5px;
  }

  &.outline {
    background-color: var(--lumina-color-text-inverted);
  }

  &.primary {
    border: 1px solid #00bbb7;
    box-shadow: 0px 0px 0px 0px #00bbb7;

    &:hover {
      box-shadow: 0px 3px 5px -1px #00bbb7;
    }
    &:not(.outline) {
      background-color: #00bbb7;
    }
    &.outline {
      color: #00bbb7;
    }
  }

  &.secondary {
    border: 1px solid #5656c7;
    box-shadow: 0px 0px 0px 0px #5656c7;

    &:hover {
      box-shadow: 0px 3px 5px -1px #5656c7;
    }
    &:not(.outline) {
      background-color: #5656c7;
    }
    &.outline {
      color: #5656c7;
    }
  }

  &.warning {
    border: 1px solid #ffc31d;
    box-shadow: 0px 0px 0px 0px #ffc31d;

    &:hover {
      box-shadow: 0px 3px 5px -1px #ffc31d;
    }
    &:not(.outline) {
      background-color: #ffc31d;
    }
    &.outline {
      color: #ffc31d;
    }
  }

  &.danger {
    border: 1px solid #fe7676;
    box-shadow: 0px 0px 0px 0px #fe7676;

    &:hover {
      box-shadow: 0px 3px 5px -1px #fe7676;
    }
    &:not(.outline) {
      background-color: #fe7676;
    }
    &.outline {
      color: #fe7676;
    }
  }

  .icon {
    font-size: 12px;
  }
}
