@keyframes lightTextUp {
  0% {
    color: initial;
  }

  50% {
    color: var(--lum-color-green-600);
  }

  100% {
    color: initial;
  }
}

.branch_container {
  @include lum-typo-body;

  & .branch_row {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 2px;
    color: var(--lum-color-text);
    cursor: default;
    background-color: white;
    border-radius: 4px;
    box-shadow:
      0 1px 2px 0 rgb(0 0 0 / 6%),
      0 1px 3px 0 rgb(0 0 0 / 10%);

    &:hover {
      background-color: #f7f7f7;
    }
  }

  & .branch_children {
    flex-basis: 100%;
    padding-left: var(--lum-size-icon-xl);
  }

  &__filter {
    .tree_head-item {
      animation: lightTextUp 5s infinite;
    }
  }

  .tree_head-item {
    position: relative;
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding-left: 12px;

    & > *:first-child {
      -webkit-box-orient: vertical;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      line-clamp: 1;
      overflow: hidden;
    }
  }

  .treeViewPointer {
    cursor: pointer;
  }

  .treeViewIcons {
    display: flex;

    & > *:not(:first-child) {
      box-shadow: -1px 0 0 0 var(--lum-color-grey-600);
    }
  }

  .treeViewIcon {
    align-content: center;
    width: var(--lum-size-icon-xl);
    height: var(--lum-size-icon-xl);
    font-size: var(--lum-size-font-icon);
    color: var(--lum-color-icon-fill);
    text-align: center;
    background-color: var(--lum-color-white-smoke);
  }

  .treeTitle {
    @include lum-typo-caption;
  }

  .addText {
    @include lum-typo-tiny;
  }
}
