:root {
  --lum-size-spacing-xxl: 8rem; /* the 2x large space - 128px */
  --lum-size-spacing-xl: 4rem; /* the extra large space - 64px */
  --lum-size-spacing-l: 2rem; /* the large space - 32px */
  --lum-size-spacing-ml: 1.5rem; /* the base space - 24px */
  --lum-size-spacing-m: 1rem; /* the base space - 16px */
  --lum-size-spacing-s: 0.5rem; /* the small space - 8px */
  --lum-size-spacing-xs: 0.25rem; /* the smallest space - 4px */
  --lum-size-logo-xl: 7.5rem; /* 120px */
  --lum-size-logo-l: 6.25rem; /* 100px */
  --lum-size-logo-ml: 5rem; /* 80px */
  --lum-size-logo-m: 4rem; /* 64px */
  --lum-size-logo-sm: 2.5rem; /* 40px */
  --lum-size-logo-s: 2rem; /* 32px */
  --lum-size-logo-xs: 1.5rem; /* 24px */
  --lum-size-icon-xxl: 3rem; /* 48px */
  --lum-size-icon-xl: 2rem; /* 32px */
  --lum-size-icon-l: 1.5rem; /* 24px */
  --lum-size-icon-m: 1.25rem; /* 20px */
  --lum-size-icon-s: 1rem; /* 16px */
  --lum-size-icon-xs: 0.875rem; /* 14px */
  --lum-size-border-radius: 0.625rem; /* 4px */
  --lum-size-border-size: 0.063rem; /* 1px */
  --lum-size-font-weight-bold: 700; /* Bold */
  --lum-size-font-weight-medium: 600; /* Medium */
  --lum-size-font-weight-regular: 400; /* Regular */
  --lum-size-line-height-code: 1rem; /* Pre/code 16px */
  --lum-size-line-height-small: 1.25rem; /* P2 - 20px */
  --lum-size-line-height-text: 1.5rem; /* P1 - 24px */
  --lum-size-line-height-caption: 1.25; /* C - 20px */
  --lum-size-line-height-heading6: 2rem; /* H6 - 32px */
  --lum-size-line-height-heading5: 2.5rem; /* H5 - 40px */
  --lum-size-line-height-heading4: 3rem; /* H4 - 48px */
  --lum-size-line-height-heading3: 3.5rem; /* H3 - 56px */
  --lum-size-line-height-heading2: 4.5rem; /* H2 - 72px */
  --lum-size-line-height-heading1: 5.5rem; /* H1 - 88px */
  --lum-size-font-icon: 0.875rem; /* P3 - 14px */
  --lum-size-font-small: 0.875rem; /* P3 - 14px */
  --lum-size-font-tiny: 0.75rem; /* P2 - 12px */
  --lum-size-font-text: 1rem; /* P1 - 16px */
  --lum-size-font-caption: 1rem; /* C - 16px */
  --lum-size-font-heading6: 1.5rem; /* H6 - 24px */
  --lum-size-font-heading5: 2rem; /* H5 - 32px */
  --lum-size-font-heading4: 2.5rem; /* H4 - 40px */
  --lum-size-font-heading3: 3rem; /* H3 - 48px */
  --lum-size-font-heading2: 4rem; /* H2 - 64px */
  --lum-size-font-heading1: 5rem; /* H1 - 80px */
  --lum-font-family-bold: 'ProximaNova-Bold', 'Helvetica', 'Arial', 'sans-serif';
  --lum-font-family-regular: 'ProximaNova-Regular', 'Helvetica', 'Arial', 'sans-serif';
  --lum-font-family-code: 'ui-monospace', 'Menlo', 'Monaco', 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono', 'Droid Sans Mono', 'Courier New', 'monospace';
  --lum-font-family-reset: 'Helvetica', 'Arial', 'sans-serif';
  --lum-color-accent-weak: #B2E7E2;
  --lum-color-accent-default: #07B0A0;
  --lum-color-secondary-weak: #FDDDB9;
  --lum-color-secondary-default: #F7901E;
  --lum-color-primary-weak: #B99FCB;
  --lum-color-primary-default: #662F8F;
  --lum-color-fg-strong: #121212;
  --lum-color-fg-weaker: #9F9FA3;
  --lum-color-fg-weak: #7B7B7F;
  --lum-color-fg-default: #5E5E61;
  --lum-color-surface-stronger: #CCCCD1;
  --lum-color-surface-strong: #E6E6EB;
  --lum-color-surface-default: #FDFDFD;
  --lum-color-grey-800: #7B7B7F;
  --lum-color-grey-600: #CCCCD1;
  --lum-color-grey-400: #E6E6EB;
  --lum-color-green-800: #046158;
  --lum-color-green-600: #06a092;
  --lum-color-black-oppacity: #00000075;
  --lum-color-charcoal: #122f54;
  --lum-color-white-smoke: #f5f5f5;
  --lum-color-foundation-green-weak: #06a092;
  --lum-color-foundation-green: #046158;
  --lum-color-transparent: transparent;
  --lum-color-light-grey: #c9c9c9;
  --lum-color-grey: #c1c1c1;
  --lum-color-black: #121212;
  --lum-color-white: #FDFDFD;
  --lum-color-background-transparent: transparent;
  --lum-component-size-sidebar: 37.5rem; /* 600px */
  --lum-size-line-height-button: var(--lum-size-line-height-caption); /* Equals to Caption */
  --lum-size-font-button: var(--lum-size-font-small); /* Equals P1 */
  --lum-size-font-code: var(--lum-size-font-small); /* Pre/Code Equal to P1 */
  --lum-color-text: var(--lum-color-fg-default);
  --lum-color-icon-inverted-stroke: var(--lum-color-surface-default);
  --lum-color-icon-inverted-fill: var(--lum-color-surface-default);
  --lum-color-icon-inverted-base: var(--lum-color-surface-default);
  --lum-color-icon-stroke: var(--lum-color-fg-default);
  --lum-color-icon-fill: var(--lum-color-fg-default);
  --lum-color-icon-base: var(--lum-color-fg-default);
  --lum-color-font-inverted: var(--lum-color-surface-default);
  --lum-color-font-base: var(--lum-color-fg-strong);
  --lum-color-button-disabled: var(--lum-color-surface-stronger);
  --lum-color-button-danger-background: var(--lum-color-secondary-default);
  --lum-color-button-warning-background: var(--lum-color-secondary-weak);
  --lum-color-button-secondary-background: var(--lum-color-primary-default);
  --lum-color-button-primary-background: var(--lum-color-accent-default);
  --lum-color-button-background-inverse-hover: var(--lum-color-surface-strong);
  --lum-color-button-background-inverse: var(--lum-color-transparent);
  --lum-color-button-text-inverse: var(--lum-color-fg-default);
  --lum-color-button-background-hover: var(--lum-color-green-800);
  --lum-color-button-background: var(--lum-color-green-600);
  --lum-color-button-text: var(--lum-color-surface-default);
  --lum-color-border: var(--lum-color-fg-default);
  --lum-color-background-inverse: var(--lum-color-surface-stronger);
  --lum-color-background-base: var(--lum-color-surface-default);
  --lum-color-link-hover-inverse: var(--lum-color-secondary-default);
  --lum-color-link-text-inverse: var(--lum-color-surface-default);
  --lum-color-link-hover: var(--lum-color-primary-default);
  --lum-color-link-text: var(--lum-color-fg-default);
}
