@import "./treeviewHeader/styles";
@import "./treeBranch/styles";

.treeviewContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.treeScroll {
  overflow-y: scroll;

}

.treeHead {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .treeAddButton {
    display: flex;
    align-items: center;
    font-size: 12px;
  }

}