.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: 100%;
  max-width: 100%;
  position: relative;
}

.column {
  grid-template-rows: repeat(4, minmax(25%, auto));
  grid-auto-flow: column;
}

/* Mobile */
@media (max-width: 700px) {
  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}
