.slider_container {
  &__value {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

input[type='range'] {

  // Custom CSS according to Figma
  width: 100%;
  margin-top: 10px;
  overflow: hidden;
  // Removes the default appearance
  appearance: none;
  cursor: pointer;
  border-radius: 16px;
  outline: none;

  &::-webkit-slider-runnable-track {

    // Track - Webkit browsers
    height: 15px;
    background: var(--lum-color-grey);
    border-radius: 16px;
  }

  &::-moz-range-track {

    // Track - Mozilla Firefox
    height: 15px;
    background: var(--lum-color-grey);
    border-radius: 16px;
  }

  &::-webkit-slider-thumb {

    // Thumb - Webkit browsers
    width: 15px;

    // Custom CSS according to Figma
    height: 15px;
    //  Removes the default appearance
    appearance: none;
    background-color: var(--lum-color-white);
    border: 2px solid var(--lum-color-accent-default);
    border-radius: 50%;
    box-shadow: -407px 0 0 400px var(--lum-color-accent-default);
  }

  &::-moz-range-thumb {

    // Thumb - Mozilla Firefox
    width: 15px;
    height: 15px;
    background-color: var(--lum-color-white);
    border: 1px solid var(--lum-color-accent-default);
    border-radius: 50%;
    box-shadow: -407px 0 0 400px var(--lum-color-accent-default);
  }

  &:disabled {
    cursor: not-allowed;

    &::-webkit-slider-thumb {
      border: 2px solid var(--lum-color-grey);
      box-shadow: -407px 0 0 400px var(--lum-color-grey);
    }

    &::-moz-range-thumb {
      border: 1px solid var(--lum-color-grey);
      box-shadow: -407px 0 0 400px var(--lum-color-grey);
    }
  }
}
