.treeContainer {
  position: relative;
  color: var(--lum-color-text);


 & .treeChildren{
  padding:0 0 0 35px;
 }

}

.treeHeadItem {
  border: 1px solid transparent;
  box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.06), 0px 4px 6px -1px rgba(0, 0, 0, 0.10);
  border-radius: 5px;
  margin-bottom: 2px;
  padding: 7px;
  padding-left: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  cursor: default;
  background-color: white;
  font-size: 14px;

  &:hover{
    background-color: #F7F7F7;
  }
}

.treeViewPointer {
  cursor: pointer;
}

.treeViewIcon {
  color: #111111;
  opacity: .66;
  position: absolute;
  border-radius: 5px;
  font-size: 14px;
  z-index: 1;
  background-color: #F7F7F7;
  padding: 9px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.treeTitle {
  font-size: 16px;
}

.addText {
  font-size: 12px;
  font-weight: 400;
}
