.navBar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #333;
  color: #fff;
  position: relative;
}

.navleftContainer,
.navCenterContainer {
  display: flex;
}

.navBrandContainer {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

.navBrandName {
  margin-right: 10px;
}

.navBrandIcon {
  font-size: 24px;
}

.navCenterContainer ul {
  display: flex;
  list-style-type: none;
}

.navCenterContainer ul li {
  margin-right: 20px;
}

.navCenterContainer ul li a {
  text-decoration: none;
  color: #fff;
}
