:root {
  --lum-size-spacing-xxl: 8rem; /* the 2x large space - 128px */
  --lum-size-spacing-xl: 4rem; /* the extra large space - 64px */
  --lum-size-spacing-l: 2rem; /* the large space - 32px */
  --lum-size-spacing-ml: 1.5rem; /* the base space - 24px */
  --lum-size-spacing-m: 1rem; /* the base space - 16px */
  --lum-size-spacing-s: 0.5rem; /* the small space - 8px */
  --lum-size-spacing-xs: 0.25rem; /* the smallest space - 4px */
  --lum-size-logo-xl: 7.5rem; /* 120px */
  --lum-size-logo-l: 6.25rem; /* 100px */
  --lum-size-logo-ml: 5rem; /* 80px */
  --lum-size-logo-m: 4rem; /* 64px */
  --lum-size-logo-sm: 2.5rem; /* 40px */
  --lum-size-logo-s: 2rem; /* 32px */
  --lum-size-logo-xs: 1.5rem; /* 24px */
  --lum-size-icon-xxl: 3rem; /* 48px */
  --lum-size-icon-xl: 2rem; /* 32px */
  --lum-size-icon-l: 1.5rem; /* 24px */
  --lum-size-icon-m: 1.25rem; /* 20px */
  --lum-size-icon-s: 1rem; /* 16px */
  --lum-size-icon-xs: 0.875rem; /* 14px */
  --lum-size-border-radius: 0.625rem; /* 4px */
  --lum-size-border-size: 0.063rem; /* 1px */
  --lum-size-line-height-code: 1rem; /* Pre/code 16px */
  --lum-size-line-height-small: 1.25rem; /* P2 - 20px */
  --lum-size-line-height-text: 1.5rem; /* P1 - 24px */
  --lum-size-line-height-caption: 1.25; /* C - 20px */
  --lum-size-line-height-heading6: 2rem; /* H6 - 32px */
  --lum-size-line-height-heading5: 2.5rem; /* H5 - 40px */
  --lum-size-line-height-heading4: 3rem; /* H4 - 48px */
  --lum-size-line-height-heading3: 3.5rem; /* H3 - 56px */
  --lum-size-line-height-heading2: 4.5rem; /* H2 - 72px */
  --lum-size-line-height-heading1: 5.5rem; /* H1 - 88px */
  --lum-size-font-small: 0.875rem; /* P3 - 14px */
  --lum-size-font-tiny: 0.75rem; /* P2 - 12px */
  --lum-size-font-text: 1rem; /* P1 - 16px */
  --lum-size-font-caption: 1rem; /* C - 16px */
  --lum-size-font-heading6: 1.5rem; /* H6 - 24px */
  --lum-size-font-heading5: 2rem; /* H5 - 32px */
  --lum-size-font-heading4: 2.5rem; /* H4 - 40px */
  --lum-size-font-heading3: 3rem; /* H3 - 48px */
  --lum-size-font-heading2: 4rem; /* H2 - 64px */
  --lum-size-font-heading1: 5rem; /* H1 - 80px */
  --lum-color-button-danger-background: #fe7676;
  --lum-color-button-warning-background: #ffc31d;
  --lum-color-button-secondary-background: #5656c7;
  --lum-color-button-primary-background: #00bbb7;
  --lum-color-offwhite: #F4F4F4;
  --lum-color-disabled: #d3d7da;
  --lum-color-light-grey: #c9c9c9;
  --lum-color-grey: #c1c1c1;
  --lum-color-black: #000000;
  --lum-color-white: #ffffff;
  --lum-color-background-inverse: #2b2d31;
  --lum-color-background-transparent: transparent;
  --lum-color-background-base: #dde4ee;
  --lum-color-link-hover-inverse: #c77d16;
  --lum-color-link-hover: #1660c7;
  --lum-asset-font-evolve-bold-woff2: assets/fonts/MADE_Evolve_Sans_Bold.woff2;
  --lum-asset-font-evolve-bold-name: MADE Evolve Sans;
  --lum-asset-font-evolve-medium-woff2: assets/fonts/MADE_Evolve_Sans_Medium.woff2;
  --lum-asset-font-evolve-medium-name: MADE Evolve Sans;
  --lum-asset-font-evolve-thin-woff2: assets/fonts/MADE_Evolve_Sans_Thin.woff2;
  --lum-asset-font-evolve-thin-name: MADE Evolve Sans;
  --lum-asset-font-evolve-regular-woff2: assets/fonts/MADE_Evolve_Sans_Regular.woff2;
  --lum-asset-font-evolve-regular-name: MADE Evolve Sans;
  --lum-font-family-base: 'MADE Evolve Sans', 'Open Sans', Helvetica, Arial, sans-serif;
  --lum-font-family-code: ui-monospace, 'Menlo', 'Monaco', 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  --lum-size-line-height-button: var(--lum-size-line-height-caption); /* Equals to Caption */
  --lum-size-font-button: var(--lum-size-font-small); /* Equals P1 */
  --lum-size-font-code: var(--lum-size-font-small); /* Pre/Code Equal to P1 */
  --lum-color-icon-inverted-stroke: var(--lum-color-black);
  --lum-color-icon-inverted-fill: var(--lum-color-black);
  --lum-color-icon-inverted-base: var(--lum-color-black);
  --lum-color-icon-stroke: var(--lum-color-background-base);
  --lum-color-icon-fill: var(--lum-color-background-base);
  --lum-color-icon-base: var(--lum-color-background-base);
  --lum-color-font-inverted: var(--lum-color-black);
  --lum-color-font-base: var(--lum-color-background-base);
  --lum-color-button-background-inverse-hover: var(--lum-color-offwhite);
  --lum-color-button-background-inverse: var(--lum-color-background-transparent);
  --lum-color-button-background-hover: var(--lum-color-grey);
  --lum-color-button-text: var(--lum-color-offwhite);
  --lum-color-secondary: var(--lum-color-offwhite);
  --lum-color-primary: var(--lum-color-black);
  --lum-font-brand-family-base: var(--lum-color-background-base);
  --lum-color-text: var(--lum-color-primary);
  --lum-color-button-text-inverse: var(--lum-color-primary);
  --lum-color-button-background: var(--lum-color-primary);
  --lum-color-border: var(--lum-color-primary);
  --lum-color-link-text-inverse: var(--lum-color-secondary);
  --lum-color-link-text: var(--lum-color-primary);
}
