@import url('https://fonts.googleapis.com/css2?family=Proxima+Nova:wght@700&display=swap');

.loginPage {
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 25px 65px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #d0e2f2;
}
.loginContainer {
  display: flex;
  padding: 50px 60px 40px 60px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #fff;
  box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, 0.25);
}

.helpText {
  color: #777;
  font-family: 'Proxima Nova';
  font-size: 10px;
  font-style: normal;
  margin: 0;
}

.fieldContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1px;
  margin-bottom: 10px;
}

button {
  padding: var(--Vertical-spacing-micro, 8px) var(--Vertical-spacing-little, 20px);
  border-radius: 3px;
  width: 100%;
  background: #122f54;
  color: #fdfdfd;
  text-align: center;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  font-family: 'Proxima Nova';
  font-size: 12px;
  font-weight:400;
}

input {
  display: flex;
  padding: var(--Vertical-spacing-micro, 8px) var(--Vertical-spacing-little, 20px);
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 5px;
  border: 1px solid #ccc;
  background: #fdfdfd;
  margin-bottom: 25px;
}

h2 {
  color: #122f54;
  font-family: 'Proxima Nova';
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

label {
  color: #111;
  font-family: 'Proxima Nova';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}

a{
  color: #777;
  font-family: 'Proxima Nova';
  font-size: 10px;
  font-style: normal;
  margin: 0;
}
