@import 'https://fonts.googleapis.com/css2?family=Proxima+Nova:wght@700&display=swap';

.lumina_loginPage {
  display: flex;
  gap: var(--lum-size-spacing-s);
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding: 25px 65px;
  background: var(-lum-color-background-weak-blue);
}

.lumina_loginContainer {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: var(--lum-size-spacing-ml);
  align-items: center;
  justify-content: center;
  padding: 50px 60px 40px;
  background: var(--lum-color-white);
  border-radius: var(--lum-size-spacing-s);
  box-shadow: 5px 5px 30px 0 rgb(0 0 0 / 25%);
}

.lumina_helpText {
  margin: 0;
  font-family: 'Proxima Nova';
  font-size: 10px;
  font-style: normal;
  color: var(--lum-color-grey-800);
}

.lumina_fieldContainer {
  display: flex;
  flex-direction: column;
  gap: 1px;
  align-items: flex-start;
  margin-bottom: var(--lum-size-spacing-s);
}

.lumina_loginButton {
  width: 100%;
  padding: var(--Vertical-spacing-micro, 8px) var(--Vertical-spacing-little, 20px);
  font-family: 'Proxima Nova';
  font-size: 12px;
  font-weight: 400;
  color: var(--lum-color-white);
  text-align: center;
  text-shadow: 0 4px 10px rgb(0 0 0 / 5%);
  background: var(--lum-color-charcoal);
  border-radius: var(--lum-size-spacing-xs);
}

.lumina_loginInput {
  display: flex;
  gap: var(--lum-size-spacing-s);
  align-items: center;
  align-self: stretch;
  padding: var(--Vertical-spacing-micro, 8px) var(--Vertical-spacing-little, 20px);
  margin-bottom: var(--lum-size-spacing-ml);
  background: var(--lum-color-white);
  border: 1px solid var(--lum-color-grey-600);
  border-radius: 5px;
}

.lumina_loginTitle {
  font-family: 'Proxima Nova';
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--lum-color-charcoal);
}

.lumina_loginLabel {
  font-family: 'Proxima Nova';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  color: var(--lum-color-fg-strong);
}

.lumina_loginLinks {
  margin: 0;
  font-family: 'Proxima Nova';
  font-size: 10px;
  font-style: normal;
  color: var(--lum-color-grey-800);
}
