.inputLabel{
    label{
        margin-bottom:10px;
        font-size: 16px;
        font-weight: 600;
        color:black;
    }

    input.rfc-input{
        width:100%;
        margin-bottom: 10px;
        border-radius: 5px;
    }

    span{
        font-weight: 100;
        color:black;
    }

    // In case of button usage
    // .rfc-suffix{
    //     bottom: -10px;
    // }

    // button.lum-icon-visible{
    //     font-size:18px;
    // }
}