.editorContainer {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 60px calc(100% - 60px);
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  transition: grid-template-columns 0.2s ease-in-out;

  &.open {
    grid-template-columns: var(--lum-component-size-sidebar) calc(100% - var(--lum-component-size-sidebar));
  }

  * {
    box-sizing: border-box;
  }
}
