.editorContainer {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 60px calc(100% - 60px);
  height: 100vh;
  transition: grid-template-columns 0.2s ease-in-out;

  &.open {
    grid-template-columns: var(--lum-component-size-sidebar) calc(
        100% - var(--lum-component-size-sidebar)
      );
  }

  * {
    box-sizing: border-box;
  }
}

.rendererSection {
  @include lum-typo-reset;

  container: lumina / inline-size;
  position: relative;

  .lum-iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 720px;
    height: 100%;
    border: none;
    transform: translate(-50%, -50%);
  }
}
