.editorContainer {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 60px calc(100% - 60px);
  height: 100vh;
  transition: grid-template-columns 0.2s ease-in-out;

  &.open {
    grid-template-columns: var(--lum-component-size-sidebar) calc(
        100% - var(--lum-component-size-sidebar)
      );
  }

  * {
    box-sizing: border-box;
  }
}

.rendererSection {
  @include lum-typo-reset;
}

.rendererWrapper {
  container: mobile / inline-size;

  @container mobile (min-width: 150px) {
    .rendererSection {
      max-width: 720px;
    }
  }

  &.mobile-view {
    @container mobile (min-width: 150px) {
      .rendererSection {
        max-width: 100%;
        background-color: lightgreen;
      }
    }
  }
}
