@font-face {
  font-family: LuminaIcon;
  font-style: normal;
  font-weight: normal;
  src:  url('fonts/LuminaIcon.eot?zbrfhp');
  src:  url('fonts/LuminaIcon.eot?zbrfhp#iefix') format('embedded-opentype'),
    url('fonts/LuminaIcon.ttf?zbrfhp') format('truetype'),
    url('fonts/LuminaIcon.woff?zbrfhp') format('woff'),
    url('fonts/LuminaIcon.svg?zbrfhp#LuminaIcon') format('svg');
  font-display: block;
}

[class^="lum-icon-"], [class*=" lum-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: LuminaIcon !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: never;
}

.lum-icon-logo-small-reverse .path1::before {
  color: rgb(253 253 253);
  content: "\e92d";
  opacity: 0.5;
}

.lum-icon-logo-small-reverse .path2::before {
  margin-left: -0.986328125em;
  color: rgb(253 253 253);
  content: "\e92e";
  opacity: 0.5;
}

.lum-icon-logo-small-reverse .path3::before {
  margin-left: -0.986328125em;
  color: rgb(253 253 253);
  content: "\e92f";
  opacity: 0.5;
}

.lum-icon-logo-small-reverse .path4::before {
  margin-left: -0.986328125em;
  color: rgb(253 253 253);
  content: "\e930";
  opacity: 0.5;
}

.lum-icon-logo-small-reverse .path5::before {
  margin-left: -0.986328125em;
  color: rgb(253 253 253);
  content: "\e931";
  opacity: 0.5;
}

.lum-icon-logo-small-reverse .path6::before {
  margin-left: -0.986328125em;
  color: rgb(253 253 253);
  content: "\e932";
  opacity: 0.5;
}

.lum-icon-logo-small-reverse .path7::before {
  margin-left: -0.986328125em;
  color: rgb(253 253 253);
  content: "\e933";
  opacity: 0.5;
}

.lum-icon-logo-small-reverse .path8::before {
  margin-left: -0.986328125em;
  color: rgb(253 253 253);
  content: "\e934";
  opacity: 0.5;
}

.lum-icon-logo-small-reverse .path9::before {
  margin-left: -0.986328125em;
  color: rgb(253 253 253);
  content: "\e935";
  opacity: 0.5;
}

.lum-icon-logo-small-reverse .path10::before {
  margin-left: -0.986328125em;
  color: rgb(253 253 253);
  content: "\e936";
}

.lum-icon-logo-big-reverse .path1::before {
  color: rgb(253 253 253);
  content: "\e937";
  opacity: 0.5;
}

.lum-icon-logo-big-reverse .path2::before {
  margin-left: -3.150390625em;
  color: rgb(253 253 253);
  content: "\e938";
  opacity: 0.5;
}

.lum-icon-logo-big-reverse .path3::before {
  margin-left: -3.150390625em;
  color: rgb(253 253 253);
  content: "\e939";
  opacity: 0.5;
}

.lum-icon-logo-big-reverse .path4::before {
  margin-left: -3.150390625em;
  color: rgb(253 253 253);
  content: "\e93a";
  opacity: 0.5;
}

.lum-icon-logo-big-reverse .path5::before {
  margin-left: -3.150390625em;
  color: rgb(253 253 253);
  content: "\e93b";
  opacity: 0.5;
}

.lum-icon-logo-big-reverse .path6::before {
  margin-left: -3.150390625em;
  color: rgb(253 253 253);
  content: "\e93c";
  opacity: 0.5;
}

.lum-icon-logo-big-reverse .path7::before {
  margin-left: -3.150390625em;
  color: rgb(253 253 253);
  content: "\e93d";
  opacity: 0.5;
}

.lum-icon-logo-big-reverse .path8::before {
  margin-left: -3.150390625em;
  color: rgb(253 253 253);
  content: "\e93e";
  opacity: 0.5;
}

.lum-icon-logo-big-reverse .path9::before {
  margin-left: -3.150390625em;
  color: rgb(253 253 253);
  content: "\e93f";
  opacity: 0.5;
}

.lum-icon-logo-big-reverse .path10::before {
  margin-left: -3.150390625em;
  color: rgb(253 253 253);
  content: "\e940";
}

.lum-icon-logo-big-reverse .path11::before {
  margin-left: -3.150390625em;
  color: rgb(253 253 253);
  content: "\e941";
}

.lum-icon-logo-big-reverse .path12::before {
  margin-left: -3.150390625em;
  color: rgb(253 253 253);
  content: "\e942";
}

.lum-icon-logo-big-reverse .path13::before {
  margin-left: -3.150390625em;
  color: rgb(253 253 253);
  content: "\e943";
}

.lum-icon-logo-big-reverse .path14::before {
  margin-left: -3.150390625em;
  color: rgb(253 253 253);
  content: "\e944";
}

.lum-icon-logo-big-reverse .path15::before {
  margin-left: -3.150390625em;
  color: rgb(253 253 253);
  content: "\e945";
}

.lum-icon-logo-big-reverse .path16::before {
  margin-left: -3.150390625em;
  color: rgb(253 253 253);
  content: "\e946";
}

.lum-icon-logo-big-reverse .path17::before {
  margin-left: -3.150390625em;
  color: rgb(253 253 253);
  content: "\e947";
  opacity: 0.66;
}

.lum-icon-logo-big-reverse .path18::before {
  margin-left: -3.150390625em;
  color: rgb(253 253 253);
  content: "\e948";
  opacity: 0.66;
}

.lum-icon-logo-big-reverse .path19::before {
  margin-left: -3.150390625em;
  color: rgb(253 253 253);
  content: "\e949";
  opacity: 0.66;
}

.lum-icon-logo-big-reverse .path20::before {
  margin-left: -3.150390625em;
  color: rgb(253 253 253);
  content: "\e94a";
  opacity: 0.66;
}

.lum-icon-logo-big-reverse .path21::before {
  margin-left: -3.150390625em;
  color: rgb(253 253 253);
  content: "\e94b";
  opacity: 0.66;
}

.lum-icon-logo-big-reverse .path22::before {
  margin-left: -3.150390625em;
  color: rgb(253 253 253);
  content: "\e94c";
  opacity: 0.66;
}

.lum-icon-logo-big-reverse .path23::before {
  margin-left: -3.150390625em;
  color: rgb(253 253 253);
  content: "\e94d";
  opacity: 0.66;
}

.lum-icon-logo-big-reverse .path24::before {
  margin-left: -3.150390625em;
  color: rgb(253 253 253);
  content: "\e94e";
  opacity: 0.66;
}

.lum-icon-logo-big-reverse .path25::before {
  margin-left: -3.150390625em;
  color: rgb(253 253 253);
  content: "\e94f";
  opacity: 0.66;
}

.lum-icon-logo-big-reverse .path26::before {
  margin-left: -3.150390625em;
  color: rgb(253 253 253);
  content: "\e950";
  opacity: 0.66;
}

.lum-icon-logo-big-reverse .path27::before {
  margin-left: -3.150390625em;
  color: rgb(253 253 253);
  content: "\e951";
  opacity: 0.66;
}

.lum-icon-plus::before {
  content: "\e900";
}

.lum-icon-cross-fill::before {
  content: "\e901";
}

.lum-icon-info-fill::before {
  content: "\e902";
}

.lum-icon-history::before {
  content: "\e903";
}

.lum-icon-desktop::before {
  content: "\e904";
}

.lum-icon-mobile::before {
  content: "\e905";
}

.lum-icon-red::before {
  color: #e86767;
  content: "\e906";
}

.lum-icon-yellow::before {
  color: #ebd146;
  content: "\e907";
}

.lum-icon-green::before {
  color: #a7bd68;
  content: "\e908";
}

.lum-icon-menu::before {
  content: "\e909";
}

.lum-icon-filter::before {
  content: "\e90a";
}

.lum-icon-paste::before {
  content: "\e90b";
}

.lum-icon-cut::before {
  content: "\e90c";
}

.lum-icon-hidden::before {
  content: "\e90d";
}

.lum-icon-visible::before {
  content: "\e90e";
}

.lum-icon-user::before {
  content: "\e90f";
}

.lum-icon-chevron-up::before {
  content: "\e910";
}

.lum-icon-chevron-left::before {
  content: "\e911";
}

.lum-icon-chevron-down::before {
  content: "\e912";
}

.lum-icon-chevron-right::before {
  content: "\e913";
}

.lum-icon-help-fill::before {
  content: "\e914";
}

.lum-icon-settings::before {
  content: "\e915";
}

.lum-icon-figma::before {
  content: "\e916";
}

.lum-icon-library::before {
  content: "\e917";
}

.lum-icon-custom::before {
  content: "\e918";
}

.lum-icon-button::before {
  content: "\e919";
}

.lum-icon-video::before {
  content: "\e91a";
}

.lum-icon-grid::before {
  content: "\e91b";
}

.lum-icon-link::before {
  content: "\e91c";
}

.lum-icon-title::before {
  content: "\e91d";
}

.lum-icon-picture::before {
  content: "\e91e";
}

.lum-icon-component::before {
  content: "\e91f";
}

.lum-icon-layers::before {
  content: "\e920";
}

.lum-icon-hand::before {
  content: "\e921";
}

.lum-icon-arrow-down::before {
  content: "\e922";
}

.lum-icon-arrow-up::before {
  content: "\e923";
}

.lum-icon-slide::before {
  content: "\e924";
}

.lum-icon-edit::before {
  content: "\e925";
}

.lum-icon-accept::before {
  content: "\e926";
}

.lum-icon-cross::before {
  content: "\e927";
}

.lum-icon-plus-fill::before {
  content: "\e928";
}

.lum-icon-clone::before {
  content: "\e929";
}

.lum-icon-page::before {
  content: "\e92a";
}

.lum-icon-search::before {
  content: "\e92b";
}

.lum-icon-folder::before {
  content: "\e92c";
}
