$icomoon-font-family: "LuminaIcon" !default;
$icomoon-font-path: "fonts" !default;
$lum-icon-logo-small-reverse-path1: unquote('"\\e92d"');
$lum-icon-logo-small-reverse-path2: unquote('"\\e92e"');
$lum-icon-logo-small-reverse-path3: unquote('"\\e92f"');
$lum-icon-logo-small-reverse-path4: unquote('"\\e930"');
$lum-icon-logo-small-reverse-path5: unquote('"\\e931"');
$lum-icon-logo-small-reverse-path6: unquote('"\\e932"');
$lum-icon-logo-small-reverse-path7: unquote('"\\e933"');
$lum-icon-logo-small-reverse-path8: unquote('"\\e934"');
$lum-icon-logo-small-reverse-path9: unquote('"\\e935"');
$lum-icon-logo-small-reverse-path10: unquote('"\\e936"');
$lum-icon-logo-big-reverse-path1: unquote('"\\e937"');
$lum-icon-logo-big-reverse-path2: unquote('"\\e938"');
$lum-icon-logo-big-reverse-path3: unquote('"\\e939"');
$lum-icon-logo-big-reverse-path4: unquote('"\\e93a"');
$lum-icon-logo-big-reverse-path5: unquote('"\\e93b"');
$lum-icon-logo-big-reverse-path6: unquote('"\\e93c"');
$lum-icon-logo-big-reverse-path7: unquote('"\\e93d"');
$lum-icon-logo-big-reverse-path8: unquote('"\\e93e"');
$lum-icon-logo-big-reverse-path9: unquote('"\\e93f"');
$lum-icon-logo-big-reverse-path10: unquote('"\\e940"');
$lum-icon-logo-big-reverse-path11: unquote('"\\e941"');
$lum-icon-logo-big-reverse-path12: unquote('"\\e942"');
$lum-icon-logo-big-reverse-path13: unquote('"\\e943"');
$lum-icon-logo-big-reverse-path14: unquote('"\\e944"');
$lum-icon-logo-big-reverse-path15: unquote('"\\e945"');
$lum-icon-logo-big-reverse-path16: unquote('"\\e946"');
$lum-icon-logo-big-reverse-path17: unquote('"\\e947"');
$lum-icon-logo-big-reverse-path18: unquote('"\\e948"');
$lum-icon-logo-big-reverse-path19: unquote('"\\e949"');
$lum-icon-logo-big-reverse-path20: unquote('"\\e94a"');
$lum-icon-logo-big-reverse-path21: unquote('"\\e94b"');
$lum-icon-logo-big-reverse-path22: unquote('"\\e94c"');
$lum-icon-logo-big-reverse-path23: unquote('"\\e94d"');
$lum-icon-logo-big-reverse-path24: unquote('"\\e94e"');
$lum-icon-logo-big-reverse-path25: unquote('"\\e94f"');
$lum-icon-logo-big-reverse-path26: unquote('"\\e950"');
$lum-icon-logo-big-reverse-path27: unquote('"\\e951"');
$lum-icon-plus: unquote('"\\e900"');
$lum-icon-cross-fill: unquote('"\\e901"');
$lum-icon-info-fill: unquote('"\\e902"');
$lum-icon-history: unquote('"\\e903"');
$lum-icon-desktop: unquote('"\\e904"');
$lum-icon-mobile: unquote('"\\e905"');
$lum-icon-red: unquote('"\\e906"');
$lum-icon-yellow: unquote('"\\e907"');
$lum-icon-green: unquote('"\\e908"');
$lum-icon-menu: unquote('"\\e909"');
$lum-icon-filter: unquote('"\\e90a"');
$lum-icon-paste: unquote('"\\e90b"');
$lum-icon-cut: unquote('"\\e90c"');
$lum-icon-hidden: unquote('"\\e90d"');
$lum-icon-visible: unquote('"\\e90e"');
$lum-icon-user: unquote('"\\e90f"');
$lum-icon-chevron-up: unquote('"\\e910"');
$lum-icon-chevron-left: unquote('"\\e911"');
$lum-icon-chevron-down: unquote('"\\e912"');
$lum-icon-chevron-right: unquote('"\\e913"');
$lum-icon-help-fill: unquote('"\\e914"');
$lum-icon-settings: unquote('"\\e915"');
$lum-icon-figma: unquote('"\\e916"');
$lum-icon-library: unquote('"\\e917"');
$lum-icon-custom: unquote('"\\e918"');
$lum-icon-button: unquote('"\\e919"');
$lum-icon-video: unquote('"\\e91a"');
$lum-icon-grid: unquote('"\\e91b"');
$lum-icon-link: unquote('"\\e91c"');
$lum-icon-title: unquote('"\\e91d"');
$lum-icon-picture: unquote('"\\e91e"');
$lum-icon-component: unquote('"\\e91f"');
$lum-icon-layers: unquote('"\\e920"');
$lum-icon-hand: unquote('"\\e921"');
$lum-icon-arrow-down: unquote('"\\e922"');
$lum-icon-arrow-up: unquote('"\\e923"');
$lum-icon-slide: unquote('"\\e924"');
$lum-icon-edit: unquote('"\\e925"');
$lum-icon-accept: unquote('"\\e926"');
$lum-icon-cross: unquote('"\\e927"');
$lum-icon-plus-fill: unquote('"\\e928"');
$lum-icon-clone: unquote('"\\e929"');
$lum-icon-page: unquote('"\\e92a"');
$lum-icon-search: unquote('"\\e92b"');
$lum-icon-folder: unquote('"\\e92c"');

