:root {
  // base spacing
  --lum-spacing-xxl: 8rem; // 128px
  --lum-spacing-xl: 4rem; // 64px
  --lum-spacing-l: 2rem; // 32px
  --lum-spacing-ml: 1.5rem; // 24px
  --lum-spacing-m: 1rem; // 16px 
  --lum-spacing-s: 0.5rem; // 8px
  --lum-spacing-xs: 0.25rem; // 4px
  // font size
  --lum-size-font-code: 0.875rem; // Code - 14px
  --lum-size-font-button: 0.875rem; // Button - 14px
  --lum-size-font-tiny: 0.75rem; // P3 - 12px
  --lum-size-font-small: 0.875rem; // P2 - 14px
  --lum-size-font-text: 1rem; // P1 - 16px
  --lum-size-font-caption: 1rem; // C - 16px
  --lum-size-font-heading6: 1.5rem; // H6 - 24px
  --lum-size-font-heading5: 2rem; // H5 - 32px
  --lum-size-font-heading4: 2.5rem; // H4 - 40px
  --lum-size-font-heading3: 3rem; // H3 - 48px
  --lum-size-font-heading2: 4rem; // H2 - 64px
  --lum-size-font-heading1: 5rem; // H1 - 80px
  // font line-height
  --lum-size-line-height-code: 1rem; // Code - 16px
  --lum-size-line-height-button: 1rem; // Button - 16px
  --lum-size-line-height-small: 1.25rem; // P2 - 20px
  --lum-size-line-height-text: 1.5rem; // P1 - 24px
  --lum-size-line-height-caption: 1.25rem; // C - 20px
  --lum-size-line-height-heading6: 2rem; // H6 - 32px
  --lum-size-line-height-heading5: 2.5rem; // H5 - 40px
  --lum-size-line-height-heading4: 3rem; // H4 - 48px
  --lum-size-line-height-heading3: 3.5rem; // H3 - 56px
  --lum-size-line-height-heading2: 4.5rem; // H2 - 72px
  --lum-size-line-height-heading1: 5.5rem; // H1 - 88px
  // borders
  --lum-size-border-size: 0.063rem; // 1px;
  --lum-size-border-radius: 0.625rem; // 4px;
}