*:has(> .showEditContainer):hover {
  outline: 1px solid black;

  > .showEditContainer {
    visibility: visible;
  }
}

.onHover {
  background-color: grey;
  border-radius: 25%;
  .icon {
    color: whitesmoke !important;
  }
}

// *:has(> .showEditContainerInline):hover:after {
//   width: 100%;width
//   position: absolute;position
//   bottom: -5px;bottom
//   height: 1px;height
//   background-color: black;background-color
//   content: '';content
// }

.showEdit * {
  box-sizing: border-box;
}

.showEditContainerMain {
  display: inline-flex;
  gap: 5px;
}

.showEditContainerInline {
  @extend .showEditContainerMain;
}

.showEditContainer {
  @extend .showEditContainerMain;

  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1000;
  visibility: hidden;
}

.btnShowEdit {
  color: black;
  background-color: var(--lum-color-button-background);
  border: 2px solid var(--lum-color-border-inverse);
}

@media screen and (width <=950px) {
  .modal-container {
    width: 80%;
    min-width: 0;
  }
}

.formTableCell {
  padding-bottom: 8px;
}

.formTableLabel {
  padding-right: 8px;
}

.inputField {
  width: 100%;
}