:root {
  --lumina-spacing-xs: 3px;
  --lumina-spacing-s: 5px;
  --lumina-spacing-m: 10px;
  --lumina-spacing-l: 15px;
  --lumina-spacing-xl: 20px;
  --lumina-spacing-xxl: 40px;
  --lumina-border-size: 1px;
  --lumina-border-radius: 12px;
}
