// z-index master list
// Warning: please, avoid to customize these values
:root {
  --lumina-z-index: (
    negative: -1,
    reset-stack: 1,
    fixed-bar: 300,
    on-top: 10,
    header: 400,
    backdrop: 600,
    overlay: 800,
    content-blocker: 1000
  );
}
