//The .switchList class should be added to classNames on the switch-list you want to render
.switchList {
  width: 100%;

  .rfc-label {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
    color: black;
  }

  .rfc-checkitem {
    font-size: 16px;
    font-weight: 300;
    color: black;
  }

  input:checked {
    background-color: black;
  }

  input:checked::after {
    color: black;
    background-color: #777;
    border-color: #777;
  }

  span {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #777;
  }
}
