.sidebarContainer {
  transition: width 0.2s ease-in-out;
  overflow: hidden;
  background-color: var(--lum-color-background-base);
  box-shadow: 5px 5px 5px #d0d0d0, -5px -5px 5px #f0f0f0;
  display: flex;
  flex-direction: column;
}

.sidebarHeader {
  display: flex;
  align-items: center;
  row-gap: var(--lum-size-spacing-m);
  margin-bottom: var(--lum-size-spacing-s);
  justify-content: space-between;
  &.open {
    width: var(--lum-component-size-sidebar);
  }

  .sidebarHeaderIcon {
    width: 100%;
    height: 70px;
    align-content: center;

    .sidebarLuminaIcon {
      width: 40px;
      height: 40px;
      border-radius: 100%;
      background-color: #555555;
    }
  }

  .sidebarToogler {
    height: 100%;
    padding: var(--lum-size-spacing-ml);
    align-content: center;
    font-size: var(--lum-size-font-text);
    cursor: pointer;
  }
}

.sidebarBody {
  display: flex;
  height: 100%;
  
  .sidebarPanel {
    background-color: var(--lum-color-white);
    flex: 1 1 0;
    padding: var(--lum-size-spacing-m);
  }

  .sidebarTabsContainer {
    display: flex;
    flex-direction: column;
    flex: 1 0 60px;
    justify-content: space-between;
    align-items: center;
    max-width: 60px;
    padding-bottom: var(--lum-size-spacing-m);
    
    .sidebarTabsList {
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      
      .sidebarTab {
        cursor: pointer;
        font-size: var(--lum-size-font-text);
        width: 100%;
        height: 40px;
        padding: 12px;
        text-align: center;
        
        &:not(:last-of-type) {
          border-bottom: 1px solid var(--lum-color-white);
        }
        
        &:hover, 
        +.activeTab {
          background-color: var(--lum-color-white);
        }
      }
    }
  }
}
