.treeviewHeaderContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  padding-right: 20px;
  padding-left: 10px;
  margin-bottom: 4px;
  background-color: #f7f7f7;
  border-bottom: 1px solid var(--lum-color-fg-weaker);
  border-radius: 4px 4px 0 0;
}

.treeviewTitle {
  flex-grow: 0;
  padding-left: 10px;
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}

.treeviewSubTitle {
  flex-grow: 1;
  width: 150px;
  padding-left: 10px;
  overflow: hidden;
  font-size: 16px;
  font-weight: 300;
  color: #999;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.treeviewHeaderIcon {
  padding-right: 4px;
  font-size: 18px;
}

.treeviewNavIconsContainer {
  display: inline-flex;
  flex-grow: 0;
  gap: 8px;
  justify-content: space-evenly;
  margin: 0 8px;
  font-size: 18px;
}

.treeviewNavIcon {
  cursor: pointer;
}

.treeViewButtonLive {
  background-color: red;
}
