.small {
  height: 25px;
  width: 65px;
}

.medium {
  height: 35px;
  width: 95px;
}

.large {
  height: 45px;
  width: 125px;
}

.outlined {
  border: 1px solid black;
}

.rounded {
  border: 1px solid black;
  border-radius: 5px;
}

.buttonContainer {
  position: relative;
}
