.button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 22px;
  padding: 0;
  font-size: 13px;
  font-weight: 600;
  color: var(--lum-color-button-text);
  cursor: pointer;
  border-radius: 5px;
  transition: box-shadow 0.2s ease-in-out;

  * {
    box-sizing: border-box;
  }

  &.round {
    justify-content: center;
    border-radius: 100%;

    &::before {
      display: inline-block;
      padding-top: 100%;
      vertical-align: middle;
      content: '';
    }
  }

  .buttonContent {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
  }

  &.outline {
    background-color: var(--lum-color-text-inverse);
  }

  &.primary {
    border: 1px solid var(--lum-color-button-primary-background);
    box-shadow: 0 0 0 0 var(--lum-color-button-primary-background);

    &:hover {
      box-shadow: 0 3px 5px -1px var(--lum-color-button-primary-background);
    }

    &:not(.outline) {
      background-color: var(--lum-color-button-primary-background);
    }

    &.outline {
      color: var(--lum-color-button-primary-background);
    }
  }

  &.secondary {
    border: 1px solid var(--lum-color-button-secondary-background);
    box-shadow: 0 0 0 0 var(--lum-color-button-secondary-background);

    &:hover {
      box-shadow: 0 3px 5px -1px var(--lum-color-button-secondary-background);
    }

    &:not(.outline) {
      background-color: var(--lum-color-button-secondary-background);
    }

    &.outline {
      color: var(--lum-color-button-secondary-background);
    }
  }

  &.warning {
    border: 1px solid var(--lum-color-button-warning-background);
    box-shadow: 0 0 0 0 var(--lum-color-button-warning-background);

    &:hover {
      box-shadow: 0 3px 5px -1px var(--lum-color-button-warning-background);
    }

    &:not(.outline) {
      background-color: var(--lum-color-button-warning-background);
    }

    &.outline {
      color: var(--lum-color-button-warning-background);
    }
  }

  &.danger {
    border: 1px solid var(--lum-color-button-danger-background);
    box-shadow: 0 0 0 0 var(--lum-color-button-danger-background);

    &:hover {
      box-shadow: 0 3px 5px -1px var(--lum-color-button-danger-background);
    }

    &:not(.outline) {
      background-color: var(--lum-color-button-danger-background);
    }

    &.outline {
      color: var(--lum-color-button-danger-background);
    }
  }

  .icon {
    font-size: 12px;
  }
}
