.button {
  box-sizing: border-box;
  border-radius: 5px;
  color: #11111166;
  font-weight: 600;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 22px;
  padding: 0;
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out;

  * {
    box-sizing: border-box;
  }

  &.round {
    border-radius: 100%;
    justify-content: center;
    &:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      padding-top: 100%;
    }
  }

  .buttonContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 5px;
  }

  &.outline {
    background-color: var(--lum-color-text-inverse);
  }

  &.primary {
    border: 1px solid var(--lum-color-button-primary-background);
    box-shadow: 0px 0px 0px 0px var(--lum-color-button-primary-background);

    &:hover {
      box-shadow: 0px 3px 5px -1px var(--lum-color-button-primary-background);
    }
    &:not(.outline) {
      background-color: var(--lum-color-button-primary-background);
    }
    &.outline {
      color: var(--lum-color-button-primary-background);
    }
  }

  &.secondary {
    border: #111111;
    box-shadow: #11111166;

    &:hover {
      box-shadow: #111111;
    }
    &:not(.outline) {
      background-color: #CCCCCC;
    }
    &.outline {
      color: #11111166;
    }
  }

  &.warning {
    border: 1px solid var(--lum-color-button-warning-background);
    box-shadow: 0px 0px 0px 0px var(--lum-color-button-warning-background);

    &:hover {
      box-shadow: 0px 3px 5px -1px var(--lum-color-button-warning-background);
    }
    &:not(.outline) {
      background-color: var(--lum-color-button-warning-background);
    }
    &.outline {
      color: var(--lum-color-button-warning-background);
    }
  }

  &.danger {
    border: 1px solid var(--lum-color-button-danger-background);
    box-shadow: 0px 0px 0px 0px var(--lum-color-button-danger-background);

    &:hover {
      box-shadow: 0px 3px 5px -1px var(--lum-color-button-danger-background);
    }
    &:not(.outline) {
      background-color: var(--lum-color-button-danger-background);
    }
    &.outline {
      color: var(--lum-color-button-danger-background);
    }
  }

  .icon {
    font-size: 12px;
  }
}
