// These breakpoints take care of a range of screen sizes, until the design breaks and the next media query takes over.
$bp-mobile: 375px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
$bp-desktop-max: 1920px;

// get with functions --> map-fetch()
$breakpoints: (
  'mobile': $bp-mobile,
  'tablet': $bp-tablet,
  'desktop': $bp-desktop,
  'desktop-max': $bp-desktop-max
);