.showEdit {
  --show-edit-background: var(--lumina-color-text-inverted);
}

.showEditContainerMain {
  display: inline-flex;
}

.showEditContainerInline {
  @extend .showEditContainerMain;
}

.showEditContainer {
  @extend .showEditContainerMain;
  position: absolute;
  bottom: 0;
  right: 0;
}

.btnShowEdit {
  color: black;
  background-color: var(--lumina-color-text);
  border: 2px solid --lumina-bg-color-inverted;
}
