.tree-branch {
  position: relative;
  color: var(--lum-color-text);

  &__children {
    padding: 0 0 0 35px;
  }

  &__container {
    &:hover {
      background-color: #f7f7f7;
    }
  }

  &_filter {
    .tree-branch__item {
      @keyframes lightTextUp {
        0% {
        }

        50% {
          color: var(--lum-color-green-600);
        }

        100% {
          color: var(--lum-color-text);
        }
      }

      animation: lightTextUp 3s infinite;
    }
  }

  &__icon {
    position: absolute;
    z-index: 1;
    padding: 10px;
    font-size: var(--lum-size-font-icon);
    color: #111;
    background-color: #f7f7f7;
    border-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    opacity: 0.66;

    &_pointer {
      cursor: pointer;
    }
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    padding-left: 45px;
    margin-bottom: 2px;
    cursor: default;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow:
      0 1px 4px -1px rgb(0 0 0 / 6%),
      0 4px 6px -1px rgb(0 0 0 / 10%);
  }
}
