@import 'variables';

@font-face {
  font-family: '#{$icomoon-font-family}';
  font-style: normal;
  font-weight: normal;
  src:
    url('b64---#{$icomoon-font-path}/#{$icomoon-font-family}.eot---') format('embedded-opentype'),
    url('b64---#{$icomoon-font-path}/#{$icomoon-font-family}.ttf---') format('truetype'),
    url('b64---#{$icomoon-font-path}/#{$icomoon-font-family}.woff---') format('woff'),
    url('b64---#{$icomoon-font-path}/#{$icomoon-font-family}.svg---') format('svg');
  font-display: block;
}

[class^='lum-icon-'],
[class*=' lum-icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: never;
}

.lum-icon-plus {
  &::before {
    content: $lum-icon-plus;
  }
}

.lum-icon-cross-fill {
  &::before {
    content: $lum-icon-cross-fill;
  }
}

.lum-icon-info-fill {
  &::before {
    content: $lum-icon-info-fill;
  }
}

.lum-icon-history {
  &::before {
    content: $lum-icon-history;
  }
}

.lum-icon-desktop {
  &::before {
    content: $lum-icon-desktop;
  }
}

.lum-icon-mobile {
  &::before {
    content: $lum-icon-mobile;
  }
}

.lum-icon-red {
  &::before {
    color: #e86767;
    content: $lum-icon-red;
  }
}

.lum-icon-yellow {
  &::before {
    color: #ebd146;
    content: $lum-icon-yellow;
  }
}

.lum-icon-green {
  &::before {
    color: #a7bd68;
    content: $lum-icon-green;
  }
}

.lum-icon-menu {
  &::before {
    content: $lum-icon-menu;
  }
}

.lum-icon-filter {
  &::before {
    content: $lum-icon-filter;
  }
}

.lum-icon-paste {
  &::before {
    content: $lum-icon-paste;
  }
}

.lum-icon-cut {
  &::before {
    content: $lum-icon-cut;
  }
}

.lum-icon-hidden {
  &::before {
    content: $lum-icon-hidden;
  }
}

.lum-icon-visible {
  &::before {
    content: $lum-icon-visible;
  }
}

.lum-icon-user {
  &::before {
    content: $lum-icon-user;
  }
}

.lum-icon-chevron-up {
  &::before {
    content: $lum-icon-chevron-up;
  }
}

.lum-icon-chevron-left {
  &::before {
    content: $lum-icon-chevron-left;
  }
}

.lum-icon-chevron-down {
  &::before {
    content: $lum-icon-chevron-down;
  }
}

.lum-icon-chevron-right {
  &::before {
    content: $lum-icon-chevron-right;
  }
}

.lum-icon-help-fill {
  &::before {
    content: $lum-icon-help-fill;
  }
}

.lum-icon-settings {
  &::before {
    content: $lum-icon-settings;
  }
}

.lum-icon-figma {
  &::before {
    content: $lum-icon-figma;
  }
}

.lum-icon-library {
  &::before {
    content: $lum-icon-library;
  }
}

.lum-icon-custom {
  &::before {
    content: $lum-icon-custom;
  }
}

.lum-icon-button {
  &::before {
    content: $lum-icon-button;
  }
}

.lum-icon-video {
  &::before {
    content: $lum-icon-video;
  }
}

.lum-icon-grid {
  &::before {
    content: $lum-icon-grid;
  }
}

.lum-icon-link {
  &::before {
    content: $lum-icon-link;
  }
}

.lum-icon-title {
  &::before {
    content: $lum-icon-title;
  }
}

.lum-icon-picture {
  &::before {
    content: $lum-icon-picture;
  }
}

.lum-icon-component {
  &::before {
    content: $lum-icon-component;
  }
}

.lum-icon-layers {
  &::before {
    content: $lum-icon-layers;
  }
}

.lum-icon-hand {
  &::before {
    content: $lum-icon-hand;
  }
}

.lum-icon-arrow-down {
  &::before {
    content: $lum-icon-arrow-down;
  }
}

.lum-icon-arrow-up {
  &::before {
    content: $lum-icon-arrow-up;
  }
}

.lum-icon-slide {
  &::before {
    content: $lum-icon-slide;
  }
}

.lum-icon-edit {
  &::before {
    content: $lum-icon-edit;
  }
}

.lum-icon-accept {
  &::before {
    content: $lum-icon-accept;
  }
}

.lum-icon-cross {
  &::before {
    content: $lum-icon-cross;
  }
}

.lum-icon-plus-fill {
  &::before {
    content: $lum-icon-plus-fill;
  }
}

.lum-icon-clone {
  &::before {
    content: $lum-icon-clone;
  }
}

.lum-icon-page {
  &::before {
    content: $lum-icon-page;
  }
}

.lum-icon-search {
  &::before {
    content: $lum-icon-search;
  }
}

.lum-icon-folder {
  &::before {
    content: $lum-icon-folder;
  }
}

.lum-icon-home {
  &::before {
    content: $lum-icon-home;
  }
}

.lum-icon-lock {
  &::before {
    content: $lum-icon-lock;
  }
}

.lum-icon-align-left {
  &::before {
    content: $lum-icon-align-left;
  }
}

.lum-icon-unlock {
  &::before {
    content: $lum-icon-unlock;
  }
}

.lum-icon-folder-open-o {
  &::before {
    content: $lum-icon-folder-open-o;
  }
}

.lum-icon-object-group {
  &::before {
    content: $lum-icon-object-group;
  }
}
