$icomoon-font-family: 'LuminaIcon' !default;
$icomoon-font-path: 'fonts' !default;
$lum-icon-plus: unquote('"\\e900"');
$lum-icon-cross-fill: unquote('"\\e901"');
$lum-icon-info-fill: unquote('"\\e902"');
$lum-icon-history: unquote('"\\e903"');
$lum-icon-desktop: unquote('"\\e904"');
$lum-icon-mobile: unquote('"\\e905"');
$lum-icon-red: unquote('"\\e906"');
$lum-icon-yellow: unquote('"\\e907"');
$lum-icon-green: unquote('"\\e908"');
$lum-icon-menu: unquote('"\\e909"');
$lum-icon-filter: unquote('"\\e90a"');
$lum-icon-paste: unquote('"\\e90b"');
$lum-icon-cut: unquote('"\\e90c"');
$lum-icon-hidden: unquote('"\\e90d"');
$lum-icon-visible: unquote('"\\e90e"');
$lum-icon-user: unquote('"\\e90f"');
$lum-icon-chevron-up: unquote('"\\e910"');
$lum-icon-chevron-left: unquote('"\\e911"');
$lum-icon-chevron-down: unquote('"\\e912"');
$lum-icon-chevron-right: unquote('"\\e913"');
$lum-icon-help-fill: unquote('"\\e914"');
$lum-icon-settings: unquote('"\\e915"');
$lum-icon-figma: unquote('"\\e916"');
$lum-icon-library: unquote('"\\e917"');
$lum-icon-custom: unquote('"\\e918"');
$lum-icon-button: unquote('"\\e919"');
$lum-icon-video: unquote('"\\e91a"');
$lum-icon-grid: unquote('"\\e91b"');
$lum-icon-link: unquote('"\\e91c"');
$lum-icon-title: unquote('"\\e91d"');
$lum-icon-picture: unquote('"\\e91e"');
$lum-icon-component: unquote('"\\e91f"');
$lum-icon-layers: unquote('"\\e920"');
$lum-icon-hand: unquote('"\\e921"');
$lum-icon-arrow-down: unquote('"\\e922"');
$lum-icon-arrow-up: unquote('"\\e923"');
$lum-icon-slide: unquote('"\\e924"');
$lum-icon-edit: unquote('"\\e925"');
$lum-icon-accept: unquote('"\\e926"');
$lum-icon-cross: unquote('"\\e927"');
$lum-icon-plus-fill: unquote('"\\e928"');
$lum-icon-clone: unquote('"\\e929"');
$lum-icon-page: unquote('"\\e92a"');
$lum-icon-search: unquote('"\\e92b"');
$lum-icon-folder: unquote('"\\e92c"');
$lum-icon-home: unquote('"\\f015"');
$lum-icon-lock: unquote('"\\f023"');
$lum-icon-align-left: unquote('"\\f036"');
$lum-icon-unlock: unquote('"\\f09c"');
$lum-icon-folder-open-o: unquote('"\\f115"');
$lum-icon-object-group: unquote('"\\f247"');
