.treeContainer {
  padding: 0 0 0 10px;
  position: relative;
  color: var(--lum-color-text);
  
  .treeHead {
    padding: 0;
  }
}

.pointerTreeView {
  cursor: pointer;
}

.treeHead {
  margin: 10px 0px;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  position: relative;
}

.btnTreeView {
  color: var(--lum-color-text-inverse);
  background-color: var(--lum-color-background);
  border: 2px solid var(--lum-color-background-inverse);
}
