@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  font-style: normal;
  font-weight: normal;
  src:
    url('/#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?rd4tgx') format('truetype'),
    url('/#{$icomoon-font-path}/#{$icomoon-font-family}.woff?rd4tgx') format('woff'),
    url('/#{$icomoon-font-path}/#{$icomoon-font-family}.svg?rd4tgx##{$icomoon-font-family}') format('svg');
  font-display: block;
}

[class^="lumina-"], [class*=" lumina-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: never;
}

.lumina-pencil {
  &::before {
    content: $lumina-pencil; 
  }
}

.lumina-plus {
  &::before {
    content: $lumina-plus; 
  }
}

.lumina-cross {
  &::before {
    content: $lumina-cross; 
  }
}

.lumina-arrow-up {
  &::before {
    content: $lumina-arrow-up; 
  }
}

.lumina-arrow-down {
  &::before {
    content: $lumina-arrow-down; 
  }
}
