.input-container {
  position: relative;
  width: 100%;

  &__helper-text {
    font-size: 16px;
    font-weight: 400;
    color: var(--lum-color-grey);
  }

  &__label {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
    color: var(--lum-color-black);
  }

  &__text {
    padding-left: 30px;
    color: var(--lum-color-black);
    border-color: var(--lum-color-grey);
    border-radius: 5px;

    &::placeholder {
      color: var(--lum-color-fg-weaker);
    }
  }
}
