// The .lum__input class should be added to classNames on the labels you want to render
.input__container {
  width: 100%;

  .input__label {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
    color: var(--lum-color-black);
  }

  .input__text {
    padding-left: 30px;
    color: var(--lum-color-black);
    border-color: var(--lum-color-grey);
    border-radius: 5px;

    &::placeholder {
      color: var(--lum-color-fg-weaker);
    }
  }

  .input__helper-text {
    font-size: 16px;
    font-weight: 400;
    color: var(--lum-color-grey);
  }

  // In case of button usage
  // .rfc-suffix{
  //     bottom: -10px;
  // }

  // button.lum-icon-visible{
  //     font-size:18px;
  // }
}
