.expandable_editor_menu {
  position: absolute;
  top: 32px;
  right: 0;
  z-index: 1;
  min-width: 160px;
  padding: 8px 20px 16px;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
}
