//The .lum__checkbox class should be added to classNames on the checkbox you want to render
.lum__checkbox {
  width: 100%;

  .rfc-label {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
    color: var(--lum-color-black);
  }

  input::before {
    margin: -1px;
    color: var(--lum-color-accent-default);
    background-color: var(--lum-color-surface-default);
    border: 1px solid var(--lum-color-accent-default);
    border-radius: 3px;
  }

  input:checked::after {
    margin: -2px;
    color: var(--lum-color-accent-default);
    background-color: var(--lum-color-surface-default);
    border: 1px solid var(--lum-color-accent-default);
    border-radius: 3px;
  }

  span {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    color: var(--lum-color-grey);
  }
}
