$icomoon-font-family: "luminaIcons" !default;
$icomoon-font-path: "fonts" !default;

$lumina-pencil: unquote('"\\e900"');
$lumina-plus: unquote('"\\ea0a"');
$lumina-cross: unquote('"\\ea0f"');
$lumina-arrow-up: unquote('"\\ea32"');
$lumina-arrow-down: unquote('"\\ea36"');
$lumina-iconclose-up: unquote('"\\e901"');
$lumina-iconclose: unquote('"\\e902"');
$lumina-iconcomponent: unquote('"\\e903"');
$lumina-iconcut: unquote('"\\e904"');
$lumina-icondelete: unquote('"\\e905"');
$lumina-iconedit: unquote('"\\e906"');
$lumina-iconfigma: unquote('"\\e907"');
$lumina-iconfilter: unquote('"\\e908"');
$lumina-iconfolder: unquote('"\\e909"');
$lumina-icongrid: unquote('"\\e90a"');
$lumina-iconhand: unquote('"\\e90b"');
$lumina-iconhelp: unquote('"\\e90c"');
$lumina-iconhidden: unquote('"\\e90d"');
$lumina-iconitemadd: unquote('"\\e90e"');
$lumina-iconlayers: unquote('"\\e90f"');
$lumina-iconlibrary: unquote('"\\e910"');
$lumina-iconlink: unquote('"\\e911"');
$lumina-iconmenu: unquote('"\\e912"');
$lumina-iconopen-down: unquote('"\\e913"');
$lumina-iconopen: unquote('"\\e914"');
$lumina-iconpage: unquote('"\\e915"');
$lumina-iconpaste: unquote('"\\e916"');
$lumina-iconpicture: unquote('"\\e917"');
$lumina-iconaccept: unquote('"\\e918"');
$lumina-iconsearch: unquote('"\\e919"');
$lumina-iconadd: unquote('"\\e91a"');
$lumina-iconsettings: unquote('"\\e91b"');
$lumina-iconslide: unquote('"\\e91c"');
$lumina-iconslidedown: unquote('"\\e91d"');
$lumina-iconslideup: unquote('"\\e91e"');
$lumina-icontitle: unquote('"\\e91f"');
$lumina-iconuser: unquote('"\\e920"');
$lumina-iconvisible: unquote('"\\e921"');
$lumina-iconclone: unquote('"\\e922"');

