$icomoon-font-family: "luminaIcons" !default;
$icomoon-font-path: "fonts" !default;

$lumina-pencil: unquote('"\\e900"');
$lumina-plus: unquote('"\\ea0a"');
$lumina-cross: unquote('"\\ea0f"');
$lumina-arrow-up: unquote('"\\ea32"');
$lumina-arrow-down: unquote('"\\ea36"');
$lumina-close-up: unquote('"\\e901"');
$lumina-close: unquote('"\\e902"');
$lumina-component: unquote('"\\e903"');
$lumina-cut: unquote('"\\e904"');
$lumina-delete: unquote('"\\e905"');
$lumina-edit: unquote('"\\e906"');
$lumina-figma: unquote('"\\e907"');
$lumina-filter: unquote('"\\e908"');
$lumina-folder: unquote('"\\e909"');
$lumina-grid: unquote('"\\e90a"');
$lumina-hand: unquote('"\\e90b"');
$lumina-help: unquote('"\\e90c"');
$lumina-hidden: unquote('"\\e90d"');
$lumina-item-add: unquote('"\\e90e"');
$lumina-layers: unquote('"\\e90f"');
$lumina-library: unquote('"\\e910"');
$lumina-link: unquote('"\\e911"');
$lumina-menu: unquote('"\\e912"');
$lumina-open-down: unquote('"\\e913"');
$lumina-open: unquote('"\\e914"');
$lumina-page: unquote('"\\e915"');
$lumina-paste: unquote('"\\e916"');
$lumina-picture: unquote('"\\e917"');
$lumina-accept: unquote('"\\e918"');
$lumina-search: unquote('"\\e919"');
$lumina-add: unquote('"\\e91a"');
$lumina-settings: unquote('"\\e91b"');
$lumina-islide: unquote('"\\e91c"');
$lumina-slidedown: unquote('"\\e91d"');
$lumina-slideup: unquote('"\\e91e"');
$lumina-title: unquote('"\\e91f"');
$lumina-user: unquote('"\\e920"');
$lumina-visible: unquote('"\\e921"');
$lumina-clone: unquote('"\\e922"');

