$sidepanel-width: 350px;

.editorContainer {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 60px calc(100% - 60px);
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  transition: grid-template-columns 0.2s ease-in-out;

  &.open {
    grid-template-columns: $sidepanel-width calc(100% - $sidepanel-width);
  }

  * {
    box-sizing: border-box;
  }
}

.editorBar {
  overflow: hidden;
  background-color: var(--lum-color-background-base);
  box-shadow: 5px 5px 5px #d0d0d0, -5px -5px 5px #f0f0f0;
  transition: width 0.2s ease-in-out;
}

.editorBarContent {
  width: 100%;
  padding: 10px;
  overflow: hidden;
  background-color: var(--lum-color-background-base);
  transition: width 0.2s ease-in-out;
}

.editorToggler {
  position: absolute;
  top: 0;
  left: 0;

  /* ALWAYS KEEPING THE TOGGLER OR THE CHECKBOX ON TOP OF EVERYTHING :  */
  z-index: 2;
  width: 50px;
  height: 50px;
  cursor: pointer;
  opacity: 0;
}

.editorHamburger {
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
}

/* CREATING THE MIDDLE LINE OF THE HAMBURGER : */

.editorHamburger > div {
  position: relative;
  top: 0;
  left: 0;
  width: 60%;
  height: 2px;
  background: var(--lum-color-text);
  transition: all 0.4s ease;
}

/* CREATING THE TOP AND BOTTOM LINES :
TOP AT -10PX ABOVE THE MIDDLE ONE AND BOTTOM ONE IS 10PX BELOW THE MIDDLE: */

.editorHamburger > div::before,
.editorHamburger > div::after {
  position: absolute;
  top: -10px;
  width: 100%;
  height: 2px;
  content: "";
  background: var(--lum-color-text);
  transition: all 0.4s ease;
}

.editorHamburger > div::after {
  top: 10px;
}

/* IF THE TOGGLER IS IN ITS CHECKED STATE, THEN SETTING THE BACKGROUND OF THE MIDDLE LAYER TO COMPLETE BLACK AND OPAQUE :  */

.editorToggler:checked + .editorHamburger > div::before {
  top: 0;
  transform: rotate(45deg);
}

/* AND ROTATING THE TOP AND BOTTOM LINES :  */

.editorToggler:checked + .editorHamburger > div::after {
  top: 0;
  transform: rotate(135deg);
}
